/* ----------------------------------------------------------------------------

  Confio
  Coded by Taylor Smith of Imulus

---------------------------------------------------------------------------- */

// Global Variables


// Site Styles

$html-background : #fff;
$body-background : #eee;


// Font Styles

$sans-serif      : "Helvetica Neue", Arial, Helvetica, sans-serif;
$serif           : "Georgia", "Times New Roman", Times, serif;
$monospace       : "Andale Mono", "Lucida Console", monospace;
$font-size       : 12px;
$baseline        : 18px;
$font-color      : #555;


// Links

$link-color      : #3da1c9;
$link-hover      : darken($link-color, 15);


// Grays

$black           : #000;
$white           : #fff;
$grey-dark       : lighten($black, 25%);
$grey-mid        : lighten($black, 50%);
$grey-light      : lighten($black, 75%);
$off-white       : lighten($black, 90%);


// Accent Colors

$blue            : #049CDB;
$green           : #46a546;
$red             : #9d261d;
$yellow          : #ffc40d;
$orange          : #f89406;
$pink            : #c3325f;
$purple          : #7a43b6;


// Import Partials

@import "lib/keystone";
@import "app/confio";
@import "vendor/vendor";
