/* =Tablet (Portrait) - Design for a width of 768px
---------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/* =Mobile (Portrait) - Design for a width of 320px
---------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
}


/* =Mobile (Landscape) - Design for a width of 480px
---------------------------------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
}
